<div class="register-container">
  <!-- LEFT SIDE -->
  <div class="left-side">
    <div class="welcome-text">
      <h1>Welcome to TaskFlow</h1>
      <p>
        Organize your tasks, manage your workflow, and stay productive with a
        modern dashboard designed for teams and individuals.
      </p>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-side">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
      <h2>LOGIN</h2>

      <!-- Email -->
      <mat-form-field
        appearance="fill"
        class="full-width underline-field custom-field"
      >
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <!-- Password -->
      <mat-form-field
        appearance="fill"
        class="full-width underline-field custom-field"
      >
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <div class="options-row">
        <mat-checkbox formControlName="remember">Remember</mat-checkbox>
        <a class="forgot-link" routerLink="/forgot">Forgot password?</a>
      </div>

      <button
        mat-raised-button
        type="submit"
        class="submit-btn"
        [disabled]="loginForm.invalid"
      >
        LOGIN
      </button>

      <div class="auth-link">
        <span>Don't have an account?</span>
        <a routerLink="/register"> Register</a>
      </div>
    </form>
  </div>
</div>
