<div class="login-container">
  <!-- LEFT SIDE -->
  <div class="left-side">
    <div class="overlay"></div>

    <div class="welcome-text">
      <h1>Welcome to TaskFlow</h1>

      <p>
        Organize your tasks, manage your workflow, and stay productive with a
        modern dashboard designed for teams and individuals.
      </p>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-side">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="auth-form"
      autocomplete="off"
    >
      <h2>LOGIN</h2>

      <!-- EMAIL -->
      <div class="custom-input">
        <mat-icon>person</mat-icon>

        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          autocomplete="email"
          name="email"
        />
      </div>

      <!-- PASSWORD -->
      <div class="custom-input">
        <mat-icon>lock</mat-icon>

        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          autocomplete="current-password"
          name="password"
        />
      </div>

      <!-- OPTIONS -->
      <div class="options-row">
        <mat-checkbox formControlName="remember"> Remember </mat-checkbox>

        <a routerLink="/forgot" class="forgot-link"> Forgot password? </a>
      </div>

      <!-- BUTTON -->
      <button
        mat-raised-button
        type="submit"
        class="submit-btn"
        [disabled]="loginForm.invalid"
      >
        LOGIN
      </button>

      <!-- LINK -->
      <div class="auth-link">
        <span>Don't have an account?</span>

        <a routerLink="/register"> Register</a>
      </div>
    </form>
  </div>
</div>
