.nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.brand {
  cursor: pointer;
  font-weight: 700;
}

.spacer {
  flex: 1;
}

.active {
  text-decoration: underline;
}

.logout {
  margin-left: 10px;
}
